<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习督导</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="rzpx.css">
</head>
<body>
<!--header-->
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-xs-10">
                <ul class="nav nav-pills" role="tablist">
                    <li><a>用户列表</a></li>
                    <li class="active"><a>培训内容</a></li>
                    <li><a>培训记录</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-md-2">
                <div style="line-height: 40px">
                    <span>用户名：</span>
                    <span><{username}></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--container-->
<div class="container">
    <!--培训内容-->
    <div style="margin-top: 5px">
        <!--留学酷-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">留学酷</h3>
            </div>
            <div class="panel-body">
                <table class="table" style="margin-bottom: 0">
                    <tr>
                        <td>序号</td>
                        <td>内容</td>
                        <td>时长</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a>抽词</a></td>
                        <td>5:01</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--crm-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">crm</h3>
            </div>
            <div class="panel-body">
                <table class="table" style="margin-bottom: 0">
                    <tr>
                        <td>序号</td>
                        <td>内容</td>
                        <td>时长</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a>抽词</a></td>
                        <td>5:01</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--1course-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">1course</h3>
            </div>
            <div class="panel-body">
                <table class="table" style="margin-bottom: 0">
                    <tr>
                        <td>序号</td>
                        <td>内容</td>
                        <td>时长</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a>抽词</a></td>
                        <td>5:01</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div><!--container end-->
<!--footer-->
<div></div>
</body>
</html>